@media screen and (min-width: 850px) and (max-width:991px) {

    .my_container .my_cols.my_col-1{width: 8.333333333333333%;}
    .my_container .my_cols.my_col-2{width: 16.66666666666667%;}
    .my_container .my_cols.my_col-3{width: 25%;}
    .my_container .my_cols.my_col-4{width: 33.33333333333333%;}
    .my_container .my_cols.my_col-5{width: 41.66666666666667%;}
    .my_container .my_cols.my_col-6{width: 50%;}
    .my_container .my_cols.my_col-7{width: 58.33333333333333%;}
    .my_container .my_cols.my_col-8{width: 66.66666666666667%;}
    .my_container .my_cols.my_col-9{width: 75%;}
    .my_container .my_cols.my_col-10{width: 83.33333333333333%;}
    .my_container .my_cols.my_col-11{width: 91.66666666666667%;}
    .my_container .my_cols.my_col-12{width: 100%;}
  
      
}
