
@media only screen and (min-width : 280px) and (max-width : 479px){

   
      /*header */
    .logo{
        display:none;
    }

    .logo_1 img {
       width:80%;
       margin-top:1em;
    }
    .logo_2.new_logo p {
        display: none;
    }

    .new_logo  {
        display:none;
    }

    .header-image-bg {
        background: red url('../Image/image_myHome.jpg') no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
        height: 10em;
        margin-bottom: 0em;
    }

    .header-searchApartment-bg {
        background: red url('../Image/apartmFormSearch.jpg') no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
        height: 14.3em;
        margin-bottom: 0em;
    }

    .header-searchHouse-bg {
        background: red url('../Image/photo4house.jpg') no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
        height: 11.9em;
        margin-bottom: 0em;
    }

    .header-searchCommercial-bg {
        background: red url('../Image/photoComercial.jpg') no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
        height: 11.9em;
        margin-bottom: 0em;
    }

    .header-searchLand-bg {
        background: red url('../Image/photo4Land.jpg') no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
        height: 11em;
        margin-bottom: 0em;
    }


/*end header*/

/*nav*/
    
    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        margin-top: 0em;
    }
   

    .my-mobile-menu li {
        display: block;
        margin: 0;
        text-align: left;
        padding-left: 0em;
        padding-top:1em;
        text-transform:uppercase;
    }
    /*end nav*/
    /*main*/
    .main_information_index {
        display: none;
    }

    .no-image-bg {
        display:none;
    }

    .callMe{
        display: inline;
        margin: 1em;
    }

    .callMe summary{
        padding: 0.5em;
    }

   
   
    
}

	

